In [2]:
import requests
import json

In [3]:
import urllib.request, json

def get_flyer_id(store_id):
    url = "https://dam.flippenterprise.net/flyerkit/publications/marianos?source=hosted2&locale=en&access_token=e844fc32cb3e6059c74cda9986b1eb6a&show_storefronts=true&store_code="+str(store_id)
    dl = []
    with urllib.request.urlopen(url) as url:
        data = json.load(url)
        for item in data:
            if(item['name'] == 'Weekly Ad'):
                dl.append(item['id'])
    if(len(dl) > 0):
        return(dl[0])

In [5]:
import urllib.request, json
import csv
import pandas as pd

store_id = "00519"

flyer_id = get_flyer_id(store_id)

base_url = "https://dam.flippenterprise.net/flyerkit/publication/"+str(flyer_id)+"/products?display_type=all&source=hosted2&locale=en&access_token=e844fc32cb3e6059c74cda9986b1eb6a"

data_list = []

with urllib.request.urlopen(base_url) as url:
    data = json.load(url)
    for item in data:
        temp_dict = {}
        temp_dict['ID'] = item['id']
        temp_dict['name'] = item['name']
        temp_dict['valid_from'] = item['valid_from']
        temp_dict['valid_to'] = item['valid_to']
        temp_dict['price'] = item['price_text']
        data_list.append(temp_dict)

json_object = json.dumps(data_list)

master_df = pd.read_json(json_object)
master_df.head()

C:\Users\Karthik\AppData\Local\Temp\ipykernel_26604\1987608066.py:26: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  master_df = pd.read_json(json_object)

          ID                          name  valid_from    valid_to  price
0  820065593       Private Selection Bread  2024-02-14  2024-02-20   5.00
1  820065920         Kroger Dinner Sausage  2024-02-14  2024-02-20   3.99
2  820065508                   Cod Fillets  2024-02-14  2024-02-20   5.99
3  820065512  Local Organic Salmon Fillets  2024-02-14  2024-02-20  12.99
4  820065839                4X FUEL POINTS  2024-02-14  2024-02-20